/* font-family: Nunito; */
body{
    font-family: Montserrat;
    overflow-x: hidden;
}
.logo{
    margin-right: 130px;
}
.navigation{
    z-index: 100;
}
.nav-link {
    color: rgba(125, 135, 151, 1);
    font-size: 18px;
    line-height: 22px;
    z-index: 20;
}
.btn{
    width: 280px;
    height: 50px;
    background: #5360FE;
    border-radius: 25px;
    color: white;
}
.title-text{
    margin-top: 175px;
    font-family: Nunito;
    font-weight: 800;
    font-size: 64px;
    line-height: 65px;

}
.subtitle-text{
    font-size: 20px;
    line-height: 26px;
    color: rgba(125, 135, 151, 1);
    margin-top: 28px;
}
.promo{
    position: relative;
}
.img-head{
    position: absolute;
    left: 800px;
    top: 60px;
}
.link-price a{
    display: block;
    box-sizing: border-box;
    padding: 24px 60px;
    text-decoration: none;
    color: white;
    width: 290px;
    height: 70px;
    border-radius: 35px;
    background: rgba(83, 96, 254, 1);
    text-align: center;
    font-style: 18px;
    font-weight: bold;
    margin-top: 40px;
}
.bacg img{
    position: absolute;
    width: 2000px;
    height: 1000px;
    left: -50px;
    top: 133.92px;
    z-index: -100;
}